<!-- 

<head>
   <meta charset="UTF-8">
   <title>Home</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/gradient.css') }}">
</head>
<html>
   <div class="w3-top">
      <div class="w3-bar w3-white w3-card" id="myNavbar">
        <a href="#home" class="w3-bar-item w3-button w3-wide"><img src="static/images/logo.png" alt="logo" width="100" height="40"></a>
        <div class="w3-right w3-hide-small">
          <a href="#about" class="w3-bar-item w3-button">HOW IT WORKS</a>
          <a href="#team" class="w3-bar-item w3-button"><i class="fa fa-user"></i> TEAM</a>
          <a href="#work" class="w3-bar-item w3-button"><i class="fa fa-th"></i> WORK</a>
          <a href="#pricing" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> PRICING</a>
          <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
        </div>
    
        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
   </div>
   <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
      <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
      <a href="/excell-upload" onclick="w3_close()" class="w3-bar-item w3-button">HOW IT WORKS</a>
      <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
      <a href="#work" onclick="w3_close()" class="w3-bar-item w3-button">WORK</a>
      <a href="#pricing" onclick="w3_close()" class="w3-bar-item w3-button">PRICING</a>
      <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
   </nav>
   
   <body>
      <form action = "/teacher-input" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>   
   </body>
</html> -->







<!DOCTYPE html>
<html>
  <head>
    <title>Jump Scheduler</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

    body, html {
      height: 80%;
      line-height: 1.8;
    }

    .bgimg-1 {
      background-position: center;
      background-size: cover;
      background-image: url("static/images/whiteBackground.png");
      min-height: 100%;
    }

    .w3-bar .w3-button {
      padding: 16px;
    }
    </style>
  </head>
<body>

<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="#home" class="w3-bar-item w3-button w3-wide"><img src="static/images/logo.png" alt="logo" width="100" height="40"></a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">HOW IT WORKS</a>
      <a href="#team" class="w3-bar-item w3-button"><i class="fa fa-user"></i> TEAM</a>
      <a href="#work" class="w3-bar-item w3-button"><i class="fa fa-th"></i> WORK</a>
      <a href="#pricing" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> PRICING</a>
      <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
    </div>

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  <a href="/excell-upload" onclick="w3_close()" class="w3-bar-item w3-button">HOW IT WORKS</a>
  <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
  <a href="#work" onclick="w3_close()" class="w3-bar-item w3-button">WORK</a>
  <a href="#pricing" onclick="w3_close()" class="w3-bar-item w3-button">PRICING</a>
  <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
</nav>
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
   <div class="w3-display-left w3-text-white" style="padding:48px">
     <span class="w3-jumbo w3-hide-small" style="color:rgb(11, 11, 11);">The Journey Begins Here</span><br>
     <span class="w3-xxlarge w3-hide-large w3-hide-medium">The Journey Begins Here</span><br>
     <p style="color:rgb(11, 11, 11); font-size:15px;">Step 1: Upload an excel file with all available classes, students, and the classes they should be taking.</p>
     <form action = "/teacher-input" method = "POST" 
      enctype = "multipart/form-data">
      <input type = "file" name = "file" />
      <input type = "submit"/>
      </form>   
   </div> 
 </header>
</body>

