<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gradient.css') }}">
    <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script> -->
    <script type="text/javascript">
        $('#input_form').onsubmit(function() {
          $('#loading').show(); 
          return true;
        });
    </script>
</head>
<body>
    <div id="main">
    <h1> On a Scale of 1->10, How Much do You Value: </h1>
    <form action="/schedule" method="POST" id="input_form">
    
    <label for="genderRatio">An Equal Gender Ratio                 :</label>
    <input type="text" placeholder="Gender Ratio" name="gender ratio"><br>

    <label for="seventhToEighthRatio">An Equal Ratio of Seventh to Eighth Graders:</label>
    <input type="text" placeholder="Grade Ratio" name="grade ratio"><br>

    <label for="Behavior">An Even Distribution of Behavioral Ratings:</label>
    <input type="text" placeholder="Behavior Ratings" name="behavior ratings"><br>

    <label for="Academic">An Even Distribution of Academic Ratings:</label>
    <input type="text" placeholder="Academic Ratings" name="academic ratings"><br>

    <label for="Reading">An Even Distribution of Reading Ratings:</label>
    <input type="text" placeholder="Reading Ratings" name="reading ratings"><br>

    <label for="Writing">An Even Distribution of Writing Ratings:</label>
    <input type="Writing" placeholder="Writing Ratings" name="writing ratings"><br>

    <h1> Please enter the team you would like to schedule for: </h1>
    <label for="team">Aspen (1), Manzinita (2), Sequoia (3): </label>
    <input type="text" placeholder="Team" name="team ID"><br>

    <h1> Please select the classes you would like to schedule: </h1>
    <div>
        <input type="checkbox" id="M_INT_MATH8" name="math8" value="M_INT_MATH8" />
        <label for="M_INT_MATH8">M_INT_MATH8</label>
    </div>
    <div>
        <input type="checkbox" id="M_INT_MATH7" name="math7" value="M_INT_MATH7" />
        <label for="M_INT_MATH7">M_INT_MATH7</label>
    </div>
    <div>
        <input type="checkbox" id="M_SPN_ADV" name="advspn" value="M_SPN_ADV" />
        <label for="M_SPN_ADV">M_SPN_ADV</label>
    </div>
    <div>
        <input type="checkbox" id="M_SPN" name="spn" value="M_SPN" />
        <label for="M_SPN">M_SPN</label>
    </div>
    <div>
        <input type="checkbox" id="M_SS_7_8" name="socialstud" value="M_SS_7_8" />
        <label for="M_SS_7_8">M_SS_7_8</label>
    </div>
    <div>
        <input type="checkbox" id="M_SCI" name="sci" value="M_SCI" />
        <label for="M_SCI">M_SCI</label>
    </div>
    <div>
        <input type="checkbox" id="M_LA" name="langart" value="M_LA" />
        <label for="M_LA">M_LA</label>
    </div>

    <input type="submit" value="Submit" id="sub_button">

    <div id="loading" style="display:none;"> <img src="static/images/7VE.gif" alt="" />Loading!</div>
    </form>
    </div>
</body>
</html>


<!-- onclick="$('#loading').show(); -->

<!-- <!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<form method="POST">
    <input name="text">
    <input type="submit">
</form>
<form method="POST">
    <input name="text">
    <input type="submit">
</form> -->