{% extends 'base.html' %}

{% block main %}
<div id="main">
    <h1> On a Scale of 1->10, How Much do You Value: </h1>
    <form action="/schedule" method="POST" id="input_form">
    
    <label for="genderRatio">An Equal Gender Ratio                 :</label>
    <input type="text" placeholder="Gender Ratio" name="gender ratio"><br>

    <label for="seventhToEighthRatio">An Equal Ratio of Seventh to Eighth Graders:</label>
    <input type="text" placeholder="Grade Ratio" name="grade ratio"><br>

    <label for="Behavior">An Even Distribution of Behavioral Ratings:</label>
    <input type="text" placeholder="Behavior Ratings" name="behavior ratings"><br>

    <label for="Academic">An Even Distribution of Academic Ratings:</label>
    <input type="text" placeholder="Academic Ratings" name="academic ratings"><br>

    <label for="Reading">An Even Distribution of Reading Ratings:</label>
    <input type="text" placeholder="Reading Ratings" name="reading ratings"><br>

    <label for="Writing">An Even Distribution of Writing Ratings:</label>
    <input type="Writing" placeholder="Writing Ratings" name="writing ratings"><br>

    <h1> Please enter the team you would like to schedule for: </h1>
    <label for="team">Aspen (1), Manzinita (2), Sequoia (3): </label>
    <input type="text" placeholder="Team" name="team ID"><br>

    <h1> Please select the classes you would like to schedule: </h1>
    <div>
        <input type="checkbox" id="M_INT_MATH8" name="math8" value="M_INT_MATH8" />
        <label for="M_INT_MATH8">M_INT_MATH8</label>
    </div>
    <div>
        <input type="checkbox" id="M_INT_MATH7" name="math7" value="M_INT_MATH7" />
        <label for="M_INT_MATH7">M_INT_MATH7</label>
    </div>
    <div>
        <input type="checkbox" id="M_SPN_ADV" name="advspn" value="M_SPN_ADV" />
        <label for="M_SPN_ADV">M_SPN_ADV</label>
    </div>
    <div>
        <input type="checkbox" id="M_SPN" name="spn" value="M_SPN" />
        <label for="M_SPN">M_SPN</label>
    </div>
    <div>
        <input type="checkbox" id="M_SS_7_8" name="socialstud" value="M_SS_7_8" />
        <label for="M_SS_7_8">M_SS_7_8</label>
    </div>
    <div>
        <input type="checkbox" id="M_SCI" name="sci" value="M_SCI" />
        <label for="M_SCI">M_SCI</label>
    </div>
    <div>
        <input type="checkbox" id="M_LA" name="langart" value="M_LA" />
        <label for="M_LA">M_LA</label>
    </div>

    <input type="submit" value="Submit" id="sub_button">

    </form>
    </div>
</body>
</html> -->

{% endblock %}


<!-- 

<!DOCTYPE html>
<html>
  <head>
    <title>Jump Scheduler</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

    body, html {
      height: 120%;
      line-height: 1.8;
    }

    .bgimg-1 {
      background-position: center;
      background-size: cover;
      background-image: url("static/images/whiteBackground.png");
      min-height: 100%;
    }

    .w3-bar .w3-button {
      padding: 16px;
    }
    </style>
  </head>
<body>

<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="#home" class="w3-bar-item w3-button w3-wide"><img src="static/images/logo.png" alt="logo" width="100" height="40"></a>
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">HOW IT WORKS</a>
      <a href="#team" class="w3-bar-item w3-button"><i class="fa fa-user"></i> TEAM</a>
      <a href="#work" class="w3-bar-item w3-button"><i class="fa fa-th"></i> WORK</a>
      <a href="#pricing" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> PRICING</a>
      <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
    </div>

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  <a href="/excell-upload" onclick="w3_close()" class="w3-bar-item w3-button">HOW IT WORKS</a>
  <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
  <a href="#work" onclick="w3_close()" class="w3-bar-item w3-button">WORK</a>
  <a href="#pricing" onclick="w3_close()" class="w3-bar-item w3-button">PRICING</a>
  <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
</nav>
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
   <div class="w3-display-left w3-text-white" style="padding:48px">
    <div id="main">
        <h1 style="color:rgb(11, 11, 11); font: italic"> Step 2: Answer a Quick Questionaire... </h1>
        <h1 style="color:rgb(11, 11, 11);"> On a Scale of 1->10, How Much do You Value: </h1>
        <form action="/schedule" method="POST" id="input_form">
        
        <label for="genderRatio" style="color:rgb(11, 11, 11);">An Equal Gender Ratio                 :</label>
        <input type="text" placeholder="Gender Ratio" name="gender ratio"><br>
    
        <label for="seventhToEighthRatio" style="color:rgb(11, 11, 11);">An Equal Ratio of Seventh to Eighth Graders:</label>
        <input type="text" placeholder="Grade Ratio" name="grade ratio"><br>
    
        <label for="Behavior" style="color:rgb(11, 11, 11);">An Even Distribution of Behavioral Ratings:</label>
        <input type="text" placeholder="Behavior Ratings" name="behavior ratings"><br>
    
        <label for="Academic" style="color:rgb(11, 11, 11);">An Even Distribution of Academic Ratings:</label>
        <input type="text" placeholder="Academic Ratings" name="academic ratings"><br>
    
        <label for="Reading" style="color:rgb(11, 11, 11);">An Even Distribution of Reading Ratings:</label>
        <input type="text" placeholder="Reading Ratings" name="reading ratings"><br>
    
        <label for="Writing" style="color:rgb(11, 11, 11);">An Even Distribution of Writing Ratings:</label>
        <input type="Writing" placeholder="Writing Ratings" name="writing ratings"><br>
    
        <h1 style="color:rgb(11, 11, 11);"> Please enter the team you would like to schedule for: </h1>
        <label for="team" style="color:rgb(11, 11, 11);">Aspen (1), Manzinita (2), Sequoia (3): </label>
        <input type="text" placeholder="Team" name="team ID"><br>
    
        <h1 style="color:rgb(11, 11, 11);"> Please select the classes you would like to schedule: </h1>
        <div>
            <input type="checkbox" id="M_INT_MATH8" name="math8" value="M_INT_MATH8" />
            <label for="M_INT_MATH8" style="color:rgb(11, 11, 11);">M_INT_MATH8</label>
        </div>
        <div>
            <input type="checkbox" id="M_INT_MATH7" name="math7" value="M_INT_MATH7" />
            <label for="M_INT_MATH7" style="color:rgb(11, 11, 11);">M_INT_MATH7</label>
        </div>
        <div>
            <input type="checkbox" id="M_SPN_ADV" name="advspn" value="M_SPN_ADV" />
            <label for="M_SPN_ADV" style="color:rgb(11, 11, 11);">M_SPN_ADV</label>
        </div>
        <div>
            <input type="checkbox" id="M_SPN" name="spn" value="M_SPN" />
            <label for="M_SPN" style="color:rgb(11, 11, 11);">M_SPN</label>
        </div>
        <div>
            <input type="checkbox" id="M_SS_7_8" name="socialstud" value="M_SS_7_8" />
            <label for="M_SS_7_8" style="color:rgb(11, 11, 11);">M_SS_7_8</label>
        </div>
        <div>
            <input type="checkbox" id="M_SCI" name="sci" value="M_SCI" />
            <label for="M_SCI" style="color:rgb(11, 11, 11);">M_SCI</label>
        </div>
        <div>
            <input type="checkbox" id="M_LA" name="langart" value="M_LA" />
            <label for="M_LA" style="color:rgb(11, 11, 11);">M_LA</label>
        </div>
    
        <input type="submit" value="Submit" id="sub_button">
    
        </form>
        </div>

   </div> 
 </header>
</body>
 -->
