{% extends 'dashboard/dashboard-base.html' %}

{% block dashboard %}
<a href="/dashboard" class="inactive">
  <i class='bx bx-grid-alt' ></i>
  <span class="links_name">Dashboard</span>
</a>
{% endblock %}

{% block scheduler %}
<a href="/scheduler-excell-import" class="inactive">
  <i class='bx bx-box' ></i>
  <span class="links_name">Scheduler</span>
</a>
{% endblock %}

{% block analytics %}
<a href="/dashboard-analytics" class="inactive">
  <i class='bx bx-pie-chart-alt-2' ></i>
  <span class="links_name">Analytics</span>
</a>
{% endblock %}

{% block payment %}
<a href="/dashboard-payment" class="active">
  <i class='bx bx-user' ></i>
  <span class="links_name">Payment</span>
</a>
{% endblock %}

{% block main %}
<div class="home-content">

  <div class="schedule-boxes">
    <div class="main-scheduler box">
      <div class="title">Jump Payment</div>

      <h1>We offer affordable solutions for all schools!</h1>
      <!-- Paste your embed code script here. -->
      <!-- <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
      <stripe-pricing-table pricing-table-id="prctbl_1M3xFyAXHLGuqcfqhjOhsOuZ"
      publishable-key="pk_live_fwXJjnhKPqRWd8nhYZ15tvUa00kYL9Ch0f">
      </stripe-pricing-table> -->
      <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
      <stripe-pricing-table pricing-table-id="prctbl_1M3xQqAXHLGuqcfqMyAv6ue2"
      publishable-key="pk_test_JLMrfZ1Ii6CLUQVRIJNv5tOB00RrNKYz3P">
      </stripe-pricing-table>

      <!-- <form action="https://stripe.com/docs/connect/creating-a-payments-page" method = "POST">
        <input type = "submit" value="Stripe"/>
      </form> -->

    </div>

  </div>
</div>
{% endblock %}