{% extends 'dashboard/scheduler/scheduler-base.html' %}

{% block schedule %}
<div class="w3-display-left w3-text-white" style="padding:48px">
  <h1 style="color:rgb(11, 11, 11); font: italic">The Journey Begins Here</h1>
  <br>
  <h1 style="color:rgb(11, 11, 11); font: italic">Step 1: Upload an excel file with all available classes, students, and the classes they should be taking.</h1>
  <br>
  <form action = "/scheduler-teacher-input" method = "POST" enctype = "multipart/form-data">
   <input type = "file" name = "file" />
   <input type = "submit"/>
  </form>
</div> 

<!-- <div class="schedule-details">
    <form action = "/scheduler-teacher-input" method = "POST" enctype = "multipart/form-data">
        <input type = "file" name = "file" />
        <input type = "submit"/>
     </form> 
</div> -->
<!-- <div class="button">
  <a href="#">See All</a>
</div> -->
{% endblock %}